html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
ul{
	margin: 0;
	padding: 0;
	li{
		list-style: none;
	}
}
.wrapper{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	padding: 0 0 40px;
	width: 100%;
	form{
		label{
			font-weight: normal;
		}
	}
}
.login-form{
	width: 450px;
	margin: 0 auto;
}